* {
  margin: 0;
  padding: 0;
  background-color: black;
  box-sizing: border-box;
  font-family: "gilroy";
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100%;

  width: 100%;
  background-color: black;
  padding: 0 50px;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: 0.4;
}
#nav {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid #daddad;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-part-2 {
  display: flex;
  align-items: center;
  gap: 50px;
}
#nav h3,
#nav h4,
#nav h1 {
  text-transform: uppercase;
  font-weight: 450;
}

#container {
  height: 85%;
  width: 100%;
  background-color: aliceblue;
  display: flex;
}

#page2 {
  height: 100%;
  width: 100;
  display: flex;
  background-color: #000;
  justify-content: space-around;
  align-items: center;
}

#left {
  height: 100%;
  width: 50%;
  padding: 100px 50px;
}

#right {
  height: 100%;
  width: 50%;
  padding: 100px 50px;
}

#left h1 {
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 130px;
}
#left h1:nth-last-child(1) {
  margin-left: 30px;
}
#left h1 span img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -50px !important;
  border: solid black 3px;
}

#left h1 span img:nth-child(1) {
  margin-left: 0;
}

#right img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  border-radius: 50px;
}

.box {
  height: 300px;
  width: 400px;
  border: 3px solid #fff;
  background-color: #000;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
}

.box h1 {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}

.box p {
  font-size: 20px;
  color: white;
  font-weight: 900;
}
